<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>Growl No App Framework</string>
	<key>CFBundleIdentifier</key>
	<string>net.ekpneo.GNAGrowl</string>
	<key>CFBundleName</key>
	<string>Growl NoApp</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleSignature</key>
	<string>gnag</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>(c) 2010 Theodore Morse</string>
</dict>
</plist>
